body{
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
header{

    /*width-ancho///height-alto*/
    width: 100%;
    height: 60px;
}
header nav{
    display: flex;
    /*Justificar a la derecha*/
    justify-content: flex-end;
}
header nav .nav-right-section{
    width: 250px;
    height: auto;
    display: flex;
    /*Eliminar puntos*/
    list-style: none;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}
nav .nav-right-section a{
    margin-right: 25px;
    color: black;
}
nav .nav-right-section .menu {
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 20px;
    height: 20px;
    background-size: contain;
}
nav .nav-right-section img {
      border-radius: 60px;
      margin-left: 20px;
      width: 35px;
      height: 35px;
}

main{
    margin-top: 150px;
    text-align: center;
}
/*Sección del logo*/
main .main-logo{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}
/*Logo Google*/
main .main-logo img{
    width: 310px;
    height: 110px;
}
main .main-input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 30px;
}
main .main-input-container{
    width: 500px;
    border-radius: 80px;
    border: 1p solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .main-input input{
    width: 450px;
    height: 20px;
    outline: none;
}
main .main-input-container:hover{
    box-shadow: 0 1px 6px 1px;
}
main .main-input .search-icon{
    background-image: url(https://img.icons8.com/android/24/000000/search.png);
    background-position: center;
    background-size: contain;
    width: 20px;
    background-repeat: no-repeat;
    height: 15px;
}
main .main-input .micro-icon{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png);
    width: 18px;
    height: 18px; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
main .main-input .cam-icon{
    background-image: url(https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg);
    width: 18px;
    height: 18px; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
main .main-buttons{
    width: 550px;
    margin: 0 auto;
}
main .main-buttons div{
    display: inline-block;
}
main .main-buttons button{
    border: 0;
    height: 36px;
    /*Fondo de botones*/
    background-color: #f8f9fa;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3c4043;
    border-radius: 4px;
    padding: 0 20px;
    margin-right: 15px;
    border: 1px solid #f8f9fa;
}
main .main-buttons button:hover{
    box-shadow: 0 1px 1px  rgba(0, 0, 0, .1);
    /*background-color: #f8f9fa;*/
    /*Cambia borde al hacer hover*/
    border: 1px solid #dadce0;
    /*Cambia color letras (muy leve) al hacer hover*/
    color: #202124;
    cursor: pointer;
}
footer{
    background-color: #f2f2f2;
    width: 100%;
    height: 50px;
    position: absolute;
    font-size: 13px;
    border-top: 1px solid #e4e4e4;
    /*Footer dividido en columnas*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    /*Posiciona el footer al final*/
    bottom: 0%;
}
footer ul{
    margin: 10px;
    list-style: none;
    display: flex;
    padding-left: 0px;
}
footer .footer-left{
    justify-self: left;
}
footer .footer-right{
    justify-self: right;
}
footer ul li a{
    color: #70757a;
    margin: 10px;
}